@media (max-width: 768px){.UnderContruction img{top:10%;left:-20%}
}@media (min-width: 400px){.UnderContruction img{top:20%;left:10%}
}@media (min-width: 768px){.UnderContruction img{top:30%;left:30%}
}.UnderContruction{position:absolute;width:100%;height:100%;z-index:7;}
.UnderContruction img{position:absolute;width:500px}
